IkarusDBEngineClient_local/web/WEB-INF/wsdl/localhost_8080/IkarusDBEngine/TestWS.java/CoreWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ikarus.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ikarus.me.org/">

<xs:element name="DELETE" type="tns:DELETE" />

<xs:element name="DELETECOLL" type="tns:DELETECOLL" />

<xs:element name="DELETECOLLResponse" type="tns:DELETECOLLResponse" />

<xs:element name="DELETEResponse" type="tns:DELETEResponse" />

<xs:element name="GET" type="tns:GET" />

<xs:element name="GETCOLL" type="tns:GETCOLL" />

<xs:element name="GETCOLLResponse" type="tns:GETCOLLResponse" />

<xs:element name="GETResponse" type="tns:GETResponse" />

<xs:element name="INSERTCOLL" type="tns:INSERTCOLL" />

<xs:element name="INSERTCOLLResponse" type="tns:INSERTCOLLResponse" />

<xs:element name="MAKECOLL" type="tns:MAKECOLL" />

<xs:element name="MAKECOLLResponse" type="tns:MAKECOLLResponse" />

<xs:element name="REMOVECOLL" type="tns:REMOVECOLL" />

<xs:element name="REMOVECOLLResponse" type="tns:REMOVECOLLResponse" />

<xs:element name="RESET" type="tns:RESET" />

<xs:element name="RESETResponse" type="tns:RESETResponse" />

<xs:element name="STORE" type="tns:STORE" />

<xs:element name="STOREResponse" type="tns:STOREResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="GETCOLL">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GETCOLLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RESET">
<xs:sequence>
<xs:element name="doom" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RESETResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="REMOVECOLL">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="REMOVECOLLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="STORE">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="STOREResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DELETECOLL">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DELETECOLLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MAKECOLL">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MAKECOLLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DELETE">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DELETEResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="INSERTCOLL">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="INSERTCOLLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GET">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GETResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>