IkarusDBEngineClient_local/src/conf/xml-resources/web-service-references/CoreWS_1/wsdl/localhost_8080/IkarusDBEngine/TestWS.java/CoreWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ikarus.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ikarus.me.org/">

<xs:element name="delete" type="tns:delete" />

<xs:element name="deleteResponse" type="tns:deleteResponse" />

<xs:element name="deletecoll" type="tns:deletecoll" />

<xs:element name="deletecollResponse" type="tns:deletecollResponse" />

<xs:element name="get" type="tns:get" />

<xs:element name="getResponse" type="tns:getResponse" />

<xs:element name="getcoll" type="tns:getcoll" />

<xs:element name="getcollResponse" type="tns:getcollResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="insertcoll" type="tns:insertcoll" />

<xs:element name="insertcollResponse" type="tns:insertcollResponse" />

<xs:element name="makecoll" type="tns:makecoll" />

<xs:element name="makecollResponse" type="tns:makecollResponse" />

<xs:element name="removecoll" type="tns:removecoll" />

<xs:element name="removecollResponse" type="tns:removecollResponse" />

<xs:element name="reset" type="tns:reset" />

<xs:element name="resetResponse" type="tns:resetResponse" />

<xs:element name="searchobj" type="tns:searchobj" />

<xs:element name="searchobjResponse" type="tns:searchobjResponse" />

<xs:element name="store" type="tns:store" />

<xs:element name="storeResponse" type="tns:storeResponse" />

<xs:complexType name="store">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="makecoll">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="makecollResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertcoll">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertcollResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reset">
<xs:sequence>
<xs:element name="doom" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removecoll">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removecollResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getcoll">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getcollResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletecoll">
<xs:sequence>
<xs:element name="sid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletecollResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchobj">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchobjResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="get">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>