IkarusDBEngineClient/web/WEB-INF/wsdl/localhost_8080/IkarusDBEngine/TestWS.java/CoreWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ikarus.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ikarus.me.org/" name="CoreWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ikarus.me.org/" schemaLocation="http://localhost:8080/IkarusDBEngine/TestWS.java/CoreWS?xsd=1" />
</xsd:schema>
</types>
<message name="GET">
<part name="parameters" element="tns:GET" />
</message>
<message name="GETResponse">
<part name="parameters" element="tns:GETResponse" />
</message>
<message name="DELETE">
<part name="parameters" element="tns:DELETE" />
</message>
<message name="DELETEResponse">
<part name="parameters" element="tns:DELETEResponse" />
</message>
<message name="STORE">
<part name="parameters" element="tns:STORE" />
</message>
<message name="STOREResponse">
<part name="parameters" element="tns:STOREResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="CoreWS">
<operation name="GET">
<input wsam:Action="http://ikarus.me.org/CoreWS/GETRequest" message="tns:GET" />
<output wsam:Action="http://ikarus.me.org/CoreWS/GETResponse" message="tns:GETResponse" />
</operation>
<operation name="DELETE">
<input wsam:Action="http://ikarus.me.org/CoreWS/DELETERequest" message="tns:DELETE" />
<output wsam:Action="http://ikarus.me.org/CoreWS/DELETEResponse" message="tns:DELETEResponse" />
</operation>
<operation name="STORE">
<input wsam:Action="http://ikarus.me.org/CoreWS/STORERequest" message="tns:STORE" />
<output wsam:Action="http://ikarus.me.org/CoreWS/STOREResponse" message="tns:STOREResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://ikarus.me.org/CoreWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://ikarus.me.org/CoreWS/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="CoreWSPortBinding" type="tns:CoreWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="GET">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="DELETE">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="STORE">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CoreWS">
<port name="CoreWSPort" binding="tns:CoreWSPortBinding">
<soap:address location="http://localhost:8080/IkarusDBEngine/TestWS.java/CoreWS" />
</port>
</service>
</definitions>