IkarusDBEngineClient/src/conf/xml-resources/web-service-references/CoreWS_1/wsdl/localhost_8080/IkarusDBEngine/TestWS.java/CoreWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ikarus.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ikarus.me.org/" name="CoreWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ikarus.me.org/" schemaLocation="http://localhost:8080/IkarusDBEngine/TestWS.java/CoreWS?xsd=1" />
</xsd:schema>
</types>
<message name="removecoll">
<part name="parameters" element="tns:removecoll" />
</message>
<message name="removecollResponse">
<part name="parameters" element="tns:removecollResponse" />
</message>
<message name="get">
<part name="parameters" element="tns:get" />
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="store">
<part name="parameters" element="tns:store" />
</message>
<message name="storeResponse">
<part name="parameters" element="tns:storeResponse" />
</message>
<message name="reset">
<part name="parameters" element="tns:reset" />
</message>
<message name="resetResponse">
<part name="parameters" element="tns:resetResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="makecoll">
<part name="parameters" element="tns:makecoll" />
</message>
<message name="makecollResponse">
<part name="parameters" element="tns:makecollResponse" />
</message>
<message name="deletecoll">
<part name="parameters" element="tns:deletecoll" />
</message>
<message name="deletecollResponse">
<part name="parameters" element="tns:deletecollResponse" />
</message>
<message name="getcoll">
<part name="parameters" element="tns:getcoll" />
</message>
<message name="getcollResponse">
<part name="parameters" element="tns:getcollResponse" />
</message>
<message name="insertcoll">
<part name="parameters" element="tns:insertcoll" />
</message>
<message name="insertcollResponse">
<part name="parameters" element="tns:insertcollResponse" />
</message>
<portType name="CoreWS">
<operation name="removecoll">
<input wsam:Action="http://ikarus.me.org/CoreWS/removecollRequest" message="tns:removecoll" />
<output wsam:Action="http://ikarus.me.org/CoreWS/removecollResponse" message="tns:removecollResponse" />
</operation>
<operation name="get">
<input wsam:Action="http://ikarus.me.org/CoreWS/getRequest" message="tns:get" />
<output wsam:Action="http://ikarus.me.org/CoreWS/getResponse" message="tns:getResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://ikarus.me.org/CoreWS/deleteRequest" message="tns:delete" />
<output wsam:Action="http://ikarus.me.org/CoreWS/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="store">
<input wsam:Action="http://ikarus.me.org/CoreWS/storeRequest" message="tns:store" />
<output wsam:Action="http://ikarus.me.org/CoreWS/storeResponse" message="tns:storeResponse" />
</operation>
<operation name="reset">
<input wsam:Action="http://ikarus.me.org/CoreWS/resetRequest" message="tns:reset" />
<output wsam:Action="http://ikarus.me.org/CoreWS/resetResponse" message="tns:resetResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://ikarus.me.org/CoreWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://ikarus.me.org/CoreWS/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="makecoll">
<input wsam:Action="http://ikarus.me.org/CoreWS/makecollRequest" message="tns:makecoll" />
<output wsam:Action="http://ikarus.me.org/CoreWS/makecollResponse" message="tns:makecollResponse" />
</operation>
<operation name="deletecoll">
<input wsam:Action="http://ikarus.me.org/CoreWS/deletecollRequest" message="tns:deletecoll" />
<output wsam:Action="http://ikarus.me.org/CoreWS/deletecollResponse" message="tns:deletecollResponse" />
</operation>
<operation name="getcoll">
<input wsam:Action="http://ikarus.me.org/CoreWS/getcollRequest" message="tns:getcoll" />
<output wsam:Action="http://ikarus.me.org/CoreWS/getcollResponse" message="tns:getcollResponse" />
</operation>
<operation name="insertcoll">
<input wsam:Action="http://ikarus.me.org/CoreWS/insertcollRequest" message="tns:insertcoll" />
<output wsam:Action="http://ikarus.me.org/CoreWS/insertcollResponse" message="tns:insertcollResponse" />
</operation>
</portType>
<binding name="CoreWSPortBinding" type="tns:CoreWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="removecoll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="get">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="store">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reset">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="makecoll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletecoll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getcoll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertcoll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CoreWS">
<port name="CoreWSPort" binding="tns:CoreWSPortBinding">
<soap:address location="http://localhost:8080/IkarusDBEngine/TestWS.java/CoreWS" />
</port>
</service>
</definitions>